@import "bootstrap";

.alert {
  border-radius: 8px;
  margin-bottom: 20px;
}

.card {
  border-radius: 8px;
}

.books-header {
  display: flex;
  justify-content: space-between;
  align-items: center
}
